click==7.1.2
joblib==1.0.1
numpy==1.20.2
opencv-python==4.5.1.48
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.1.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3.0.2
python-dotenv==0.17.0
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
scikit-learn==0.24.1
scipy==1.6.2
sklearn==0.0
threadpoolctl==2.1.0
